# Sovereign RTC64 Boot Configuration
# Manually crafted for maximum bare-metal performance

TIMEOUT=5

:Sovereign RTC64
    PROTOCOL=limine
    KERNEL_PATH=boot:///boot/sys/kernel.elf
    COMMENT=Welcome to the Bare-Metal Estate.
